{% load static %}
<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Devicer</title>

    <meta name="description" content="" />

    <!-- Favicon -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'admin/vendor/fonts/materialdesignicons.css' %}" />


    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'admin/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'admin/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'admin/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/css/pages/page-auth.css' %}">

    <!-- Helpers -->
    <script src="{% static 'admin/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'admin/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="position-relative">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Login -->
          <div class="card p-2">
            <!-- Logo -->
            <div class="app-brand justify-content-center mt-5">
              <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <span style="color: #9055fd">
                    <img src="{% static 'admin/d.png' %}" alt="" style="height:30px">
                  </span>
                </span>
                <span class="app-brand-text demo text-heading fw-semibold">Devicer</span>
              </a>
            </div>
            <!-- /Logo -->

            <div class="card-body mt-2">
              <h4 class="mb-2">Добро пожаловать в  Devicer! 👋</h4>
              <p class="mb-4">Пожалуйста введите свой логин и пароль</p>

              <form id="formAuthentication" class="mb-3" method="post">
                {% csrf_token %}
                <div class="form-floating form-floating-outline mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="username"
                    placeholder="Логин"
                    required id="id_username" 
                    autofocus />
                  <label for="email">Логин</label>
                </div>
                <div class="mb-3">
                  <div class="form-password-toggle">
                    <div class="input-group input-group-merge">
                      <div class="form-floating form-floating-outline">
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          name="password"
                          placeholder=""
                          required id="id_password"
                          autocomplete="current-password"
                          aria-describedby="password" />
                        <label for="password">Пароль</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Запомнить </label>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-success d-grid w-100 auth-form-btn" type="submit" class="enter">Войти</button>
                </div>
              </form>

            </div>
          </div>
          <!-- /Login -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    

    <!-- Core JS -->
    <script src="{% static 'admin/vendor/libs/jquery/jquery.js'%}"></script>
    <script src="{% static 'admin/vendor/js/bootstrap.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </body>
</html>
