 <!-- Menu -->
 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'dashboard'%}" class="app-brand-link">
        <span class="app-brand-logo demo me-1">
          <span style="color: var(--bs-primary)">
           
          </span>
        </span>
        <span class="app-brand-text demo menu-text fw-semibold ms-2" style="color: #3a7bd5">Панель управления</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
     <!-- Dashboards -->
        {% if '/main/dashboard/' ==  request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'dashboard'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-view-dashboard-variant"></i>
            <div>Панель</div>
            </a>             
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Категории и Модели</span></li>
        <!-- Form Validation -->
        {% if '/main/dashboard/responsibles/' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'responsibles'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-account-group-outline"></i>
            <div data-i18n="Form Validation">Ответственные</div>
            <!--<div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">5</div>-->
            </a>
        </li>
         <!-- Data Tables -->
         {% if '/main/dashboard/models' == request.path %}
         <li class="menu-item active">
         {% else %}
         <li class="menu-item">
         {% endif %}    
             <a href="{% url 'models'%}" class="menu-link">
             <i class="menu-icon tf-icons mdi mdi-network-pos"></i>
             <div data-i18n="Datatables">Все модели</div>
             <!--<div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">5</div>-->
             </a>
         </li>
        <!-- Data Tables -->
        {% if '/main/dashboard/devices' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'devices'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-view-gallery-outline"></i>
            <div data-i18n="Datatables">Все устройства</div>
            <!--<div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">5</div>-->
            </a>
        </li>
        <!-- Data Tables -->
        {% if '/main/dashboard/scan-view/' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'scan-view'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-select-search"></i>
            <div data-i18n="Datatables">Новые устройства</div>
            <!--<div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">5</div>-->
            </a>
        </li>
        <!-- Misc -->
        <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Создание объекта</span></li>
        {% if '/main/dashboard/add-device' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'device-create'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-server-plus-outline"></i>
            <div>Добавить устройство</div>
            </a>
        </li>
        {% if '/main/dashboard/category-create' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'category-create'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-table-row-plus-before"></i>
            <div>Добавить категорию</div>
            </a>
        </li>
        {% if '/main/dashboard/model-create' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'model-create'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-plus-box"></i>
            <div>Добавить модель</div>
            </a>
        </li>
        {% if '/main/dashboard/responsible-create' == request.path %}
        <li class="menu-item active">
        {% else %}
        <li class="menu-item">
        {% endif %}    
            <a href="{% url 'responsible-create'%}" class="menu-link">
            <i class="menu-icon tf-icons mdi mdi-account-plus"></i>
            <div>Добавить ответственного</div>
            </a>
        </li>

    </ul>
  </aside>
  <!-- / Menu -->