    {% for device in context.saved_data %}
        {% if d.network.ethernet.mac in device %}
            {% if d.user_name in device %}
            <tr style="background-color: #cdeeba;">
            {% else %}
            <tr style="background-color: #ee9296ab;">
            {% endif %}
        {% endif %}
    {% endfor %}
    <td >{{ forloop.counter }}</td>
    <td>{{ d.model }}</td>
    <td>{{ d.user_name }}</td>
    <td>{{ d.ram }}</td>
    <td>
    {% for net in d.network %}
    {% if  'ethernet' or 'wireless_network' in net.network_type %}    
    {{ net.network_type }}: <strong>{{ net.ip }}</strong><br>
    {% endif %}
    {% endfor %}
    </td>
    <td>
    {% for net in d.network %}
    {% if  'ethernet' or 'wireless_network' in net.network_type %}    
    {{ net.network_type }}: <strong>{{ net.mac }}</strong><br>
    {% endif %}
    {% endfor %}
    </td>
    <td>{{ d.create_data }}</td>
    <!--<td>
        <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter">
                Сохранить
        </button>
    </td>-->
</tr>   